@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>SendBox</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Alici</th>
        <th>Tarih</th>
        <th>Status</th>
        <th>Mesaji Ac</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageId</td>
            <td>@item.Subject</td>
            <td>@item.ReceiverUser.Name</td>
            <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Status</td>
            <td><a href="/Message/MessageDetails/@item.MessageId" class="btn btn-danger">Mesaji Ac</a></td>
        </tr>
    }
</table>

<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Olustur</a>

